* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div {
    width: 20vw;
    height: 30vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #1abc9c;
}

.blue {
    background-color: #3498db;
}

.purple {
    background-color: #9b59b6;
}

.orange {
    background-color: #e67e22;
}

.red {
    background-color: #e74c3c;
}

div div {
    background: #ffffff80;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 3rem;
}

